<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
	<!-- custom config sections need appropriate classes -->
	<configSections>
		<!--    The GraphLib configuration settings    -->
		<section name="GraphLibs" type="Netron.GraphLib.Configuration.GraphLibConfigurationHandler,NetronGraphLib" />
	</configSections>
	
		<system.diagnostics>
		<trace autoflush="true" indentsize="2">
			<listeners>
				<add name="MyListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="./Cobalt.log" />
				<!-- <remove name="MyListener"/> -->
			</listeners>
		</trace>
	</system.diagnostics>

	
	<appSettings>
		<!-- The directory the DiagramBrowserTab will initially load -->
		<add key="DiagramBrowserInitialDirectory" value="..\..\..\GraphSamples\" />
		<!-- The directory the Template browser will initially load -->
		<add key="TemplateBrowserInitialDirectory" value="..\..\..\Templates\" />
	</appSettings>
	<!-- Settings of the GraphLib control-->
	<GraphLibs>
		<GraphLib location="..\..\..\Entitology\bin\debug\Entitology.dll" />
		<GraphLib location="..\..\..\Automatology\bin\debug\Automatology.dll" />
	</GraphLibs>
	<!-- Settings of the GraphLib control 
	<GraphLibs>		
		<GraphLib location="Entitology.dll"/>			
	</GraphLibs>-->
</configuration>
