<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!-- custom config sections need appropriate classes -->
	<configSections>		
		<!--	The webserver configuration settings	-->
		<section name="Xeon" type="Netron.Xeon.WebServerConfiguration,Neon"/>		
	</configSections>
	<!-- Settings of the internal web server. Tweak these settings in case you move the HTML/XML/XSLT content.
	-->
	<Xeon>
		<!-- the port number the TCP listens to -->
		<ServerPort value="8080"/>
		<!-- the location of the static (htm) pages -->
		<StaticContent location="..\..\content"/>
		<!-- the location with the dynamic (processed) pages, usually where the xml resides -->
		<DynamicContent location="..\..\content"/>
		<Servlets assembly="WebServer.exe, Neon.dll"/>
		<!-- for debugging you can dump the xml during processing of the XSL servlets -->
		<XmlDebugReload value="true"/>
		<XmlDump location="..\..\content\temp"/>
	</Xeon>
</configuration>
